@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: 0;
}

blade{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9px;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #ccc;
}
 body{
    background-color:#29d9d5;
}
section{
    margin-top: 50px;
}
header{
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 5%;
}

header  .logo a {
    font-size: 25px;
    color: #29d9d5;
   
}
header  .logo a span{
    color: #fff;
}
.menu{
    display: flex;
    align-items: center;
}
.menu li{
    margin: 0 15px;
    list-style-type: none;
}
.menu li a{
    color: #fff;
    font-size: 14px;
}
.hh{
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    top: 100px;
 
    
}
.hh li{
    border: 1px solid;
    width: 200px;
    height: 100px;
    text-decoration: none;
    list-style: none;
    text-align: center;
    border-radius: 10px;
    background-color:white;

    
}
.hh li:hover{
        background-color:#ccc;
}

.vv{
   
    background: linear-gradient(rgba(0,0,0,0.1),#333), url("../image/img2.png");
    background-position: center;
     background-size: cover;
    height: calc(110vh - 50px);
    display: flex;
     align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    position: relative; 
    text-align: center; /* Pour centrer le contenu horizontalement */
}

.dd li{
    border: 1px solid;
    color: #fff;
    width: 200px;
    height: 100px;
    text-decoration: none;
    list-style: none;
    text-align: center;
    border-radius: 10px;
    background-color:#7576c2 ;
    /* position: relative;
    bottom:110px; */
   
      
}

.dd li:hover{
    background-color:#ccc;
}
.ss{
    color: #fff;
    position: relative;
    bottom:200px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.rr{
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 20px; /* Ajustez la valeur selon l'espace souhaité */
}

.dd,
    .rr {
        list-style: none; /* Pour supprimer les puces de la liste */
        padding: 0; /* Pour supprimer le remplissage par défaut de la liste */
        display: inline-block; /* Pour permettre la marge horizontale */
    }


    .dd li,
    .rr li {
        margin-bottom: 10px; /* Ajoutez l'espace souhaité entre les éléments de la liste */
    }

    .qq {
        display: flex;
        flex-direction: column;
        align-items: center; /* Alignement vertical au centre */
        justify-content: flex-start; /* Alignement horizontal en haut */
        height: 100vh; /* Ajustez la hauteur selon vos besoins */
    }

    .qq h3 {
        margin: 0; /* Supprimez la marge par défaut du titre */
        color: white;
    }

.rr li{
    border: 1px solid;
    color: #fff;
    width: 200px;
    height: 100px;
    text-decoration: none;
    list-style: none;
    text-align: center;
    border-radius: 10px;
    background-color:#7576c2 ;
    /* position: relative;
    bottom:110px; */    
}

.rr li:hover{
    background-color:#ccc;
}


.btn-reservation{
    color:#29d9d5;
    font-size: 14px;
    border: 2px solid #29d9d5;
    padding: 5px 20px;
    transition: 0.5s;
    font-weight: bolder;
}
.btn-reservation:hover{
    background-color: #29d9d5;
    color: #fff;
    
}

.table{
    border: 1px solid;
}

.dd{
    color:white;
    position: relative;
    margin-top: 20px;
}




.home{
    background: linear-gradient(rgba(0,0,0,0.1),#333), url("../image/img1.png");
    background-position: center;
    background-size: cover;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.home h2{
     color: #fff; 
    font-size: 45px;
    margin-bottom: 10px;
     -webkit-text-stroke: #fff;
     text-transform: lowercase;
    
}
.home h4{
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.home p{
    color: #fff;
    margin-bottom: 10px;
    font-size: 12px;
}
.home-btn{
    margin-bottom: 20px;
}

.zz{
    border: 1px solid;
    text-align: center;
    height: 200px;
    width: 400px;
    background-color: rgb(230, 221, 221);
    border-radius: 5px;
}

.ww{
    color: #29d9d5;
}


.yy{
    background-color: #29d9d5;
}


/* contact css */

.title{
    color: #29d9d5;
}

#contact{
    padding: 0 10%;
    margin-bottom: 50px;
    height: 100vh;
}

#contact form {
    background-color: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.left-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.left-right .left , .left-right .right {
    display: flex;
    flex-direction: column;
    width: 49%;
}
#contact form label {
    font-size: 14px;
    padding: 10px 0;
    font-weight: 600;
}
#contact form input {
    padding: 8px;
    outline: 0;
    border: 1px solid #999;
}
textarea{
    height: 150px;
    resize: none;
    outline: 0;
    width: 100%;
    padding: 10px;
}
#contact form input:focus , textarea:focus{
    border: 1px solid #29d9d5;
}
#contact button{
    width: fit-content;
    padding: 8px 40px;
    background-color: #111;
    border: 1px solid #111;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
#contact button:hover {
    letter-spacing: 1px;
}

footer{
    width: 100%;
    background-color: #222;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
}
footer p{
    color: #fff;
}
footer p span{
    color: #29d9d5;
}


/* responsive */

@media (max-width:750px) {
    header .menu{
        display: none;
    }
    .btn-reservation{
        display: none;
    }
    /* home responsive */
    #home h2{
        font-size: 18px;
        -webkit-text-stroke: 0;
        color: #fff;
    }
    #home h4{
        font-size: 28px;
    }
    #home p{
        text-align: center;
        font-size: 10px;
    }
}


.aa{
    margin-left: 900px;
    position: relative;
    bottom: 200px;
}

.inscript{
    display: flex;
    margin-bottom: 20px;
    color: #fff;
    flex-direction: column;
    padding: 0 50px;
    
    
}
.inscrit{
    margin-left: 15000px;
}








body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    /* border: 1px solid #b65454!important; */
}
.redtext{
    color: #FF3131;
}
.bloc{
    background-color: #c4c4c4!important;
    border-radius: 10px!important;
    overflow: hidden!important;
    border-top: 2px solid rgba(0, 0, 0, 0.034);
    box-shadow: 1px 2.8px 2.8px rgba(0, 0, 0, 0.034), 0 2.8px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0,0,0,0.048), 0 12.8px 10.5px rgba(0, 0, 0, 0.58)!important;
    width: 680px!important;
    max-width: 100%!important;
}

.relat{
    position: relative;

}
.password-icon{
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #c4c4c4;
    transition: all 0.2s;
    right: 20px;
}
.password-icon:hover {
    cursor: pointer;
    color: #dd2e2e;
}
.password-icon .fa-eye-slash{
    display: none;
}
/* @media screen min-width(200px) {
    header img{
        width: 40px;
        height: 60px;
    }
} */

